#parallax {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  filter: blur(3px);
}

#gallery {
  background: #000 !important;
  height: auto;
  width: 100vw;
  padding: 5vh 2.5vh 5vh 2.5vh;
  margin-top: 87.5vh;
}

#gallery h1 {
  color: #fff !important;
  font-size: 5vh;
}

.title {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.title h1, h3 {
  color: #fff !important;
}

.title h1 {
  font-size: 10vh;
}

.title h3 {
  font-size: 5vh;
}

img.gallery-photo {
  width: 90%;
  transition-duration: 0.4s;
}

img.gallery-photo:hover {
  transform: scale(1.1);
  z-index: 2;
}